.company-view {
  display: block;
  margin: 0 5vw 10vh 5vw;
  
  h3 {
    display: inline-block;
  }
  
  span {
    font-weight: bold;
  }

  textarea {
    display: block;
  }
  
  .list-item {
    .edit-icon {
      border: 1px orange dashed;
      display: inline !important;
    }

    .delete-icon {
      border: 1px orange dashed;
      display: inline !important;
    }
  }
}