.dashboard-nav {
  a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #328CC1;
  }

  a:visited {
    color: #083552;
  }

  .drawer div {
    z-index: 1100 !important;
  }
}