.app {
  height: 100%;

  .routes {
    height: 90%;
    // background-image: url('../../assets/desk-photo.jpg');
    background-size: cover;
    left: 0;
    top: 0;
    background-color: hsla(0,0%,100%,0.70);
    background-blend-mode: overlay;  
  }
}