nav {
  img {
    width: 75px;
    margin: 0 0 0 20px
  }

  h1 {
    line-height: 70px !important;
    padding-left: 5px;
  }
  
  .desktop-nav {
    .auth-sign-in, .auth-sign-out {
      width: 0%;
    }
  
    a {
      margin: 10px 16px !important;
    }
  }

  .dropdown-nav div {
      div:nth-child(4) {
        border: none !important;
    }
  }
}

.auth-sign-in, .auth-sign-out, .about-us-button {
  width: 100%;
}

