.dashboard {
  height: 100%;
  background: #FFF;
  
  // .dashboard-nav {
  //   z-index: -1;
  // }
  
  .profile-icon {
    margin: 13px 13px 0 0;
  }

  // .drawer div {
  //   z-index: 10 !important;
  // }

  .dashboard-content {
    margin: 0 2vw 0 2vw;
    border-top: 1px solid rgb(192, 192, 192);

    p {
      margin: 2vw 0 0 0;
    }
  }

  footer {
    z-index: 99;
  }
}